---
import Header from '../components/header/Header.astro';
import Footer from '../components/footer/Footer.astro';
import Welcome from '../components/frontpage/Welcome.astro';
import Layout from '../layouts/Layout.astro';
import Newsletter from '../components/Newsletter.astro';
import Banner from '../components/frontpage/Banner.astro';
import ProductsCTA from '../components/frontpage/ProductsCTA.astro';
import { cn } from '../util/cn';
---

<Layout>
	<Header />
	<div class={cn(`w-full h-75 overflow-hidden bg-[url(/images/banner2.jpg)] bg-cover bg-center`)}></div>
	<Welcome />
	<ProductsCTA />
	<div class={cn(`w-full h-75 overflow-hidden bg-[url(/images/banner1.jpg)] bg-cover bg-center`)}></div>
	<Newsletter />
	<Footer />
</Layout>
