<div class="flex flex-col xl:flex-row gap-12 xl:gap-24 p-12 xl:p-24 bg-stone-50">
    <div class="w-100 self-center">
        <img src="/images/banner3.jpg" alt="munamii products" class="rounded-4xl" />
    </div>
    <div class="flex-1 flex flex-col text-center items-center">
        <h2 class="text-xl md:text-2xl xl:text-5xl mb-6 xl:mb-12 font-thin">Browse our tasty assortment!</h2>
        <p class="mb-3 md:text-xl xl:text-2xl max-w-200">
            Visit our products page to see all the different kinds of pastries,
            cakes and cupcakes that we currently make!
        </p>
        <div class="flex-1 flex items-center justify-center">
            <a
                class="text-slate-50 px-6 py-3 bg-fuchsia-700/40 hover:bg-fuchsia-700/60 motion-safe:transition-colors"
                href="/products">To Our Products</a
            >
        </div>
    </div>
</div>
