<main class="flex-1 flex gap-12 p-12 xl:p-24 bg-slate-200/80">
    <div class="flex-1">
        <h1 class="text-2xl md:text-4xl xl:text-6xl mb-6 xl:mb-12 font-thin text-center">Contact Us</h1>
        <div class="flex flex-col xl:flex-row gap-6 xl:gap-0">
            <div class="flex justify-center xl:w-150">
                <div class="flex flex-col w-full max-w-100 border border-sky-900 text-center">
                    <h2
                        class="text-xl xl:text-3xl bg-sky-900 text-slate-50 text-center p-3"
                    >
                        Open Hours
                    </h2>
                    <div class="flex-1 flex flex-col gap-3 xl:gap-6 justify-center items-center text-xl font-bold p-3 xl:p-6 bg-slate-50">
                        <p>Tuesday - Saturday</p>
                        <p>9 a.m. - 2 p.m.</p>
                    </div>
                </div>
            </div>
            <div class="flex-1 flex flex-col gap-3 xl:gap-6">
                <div>
                    <h2 class="text-2xl xl:text-3xl mb-3">Home delivery service:</h2>
                    <p class="xl:text-lg xl:leading-8">
                        All the city of Stockholm (redacted) and Malmo
                        (redacted) with additional cost.
                    </p>
                </div>
                <div>
                    <h2 class="text-2xl xl:text-3xl mb-3">Pick-up location:</h2>
                    <p class="xl:text-lg xl:leading-8">
                        Via la Costa Avenue. Blue Port gated neighbourhood. We
                        will send you the GPS Location via WhatsApp.
                    </p>
                </div>
                <div>
                    <h2 class="text-2xl xl:text-3xl mb-3">Please Note:</h2>
                    <p class="xl:text-lg xl:leading-8">
                        Orders must be placed 2 days in advance to ensure
                        availability.
                    </p>
                </div>
            </div>
        </div>
    </div>
</main>
