<main class="flex gap-24 flex-1 p-24 bg-slate-200/80">
    <div class="flex flex-col">
        <h1 class="text-6xl mb-12 font-thin">About Munamii Cakery</h1>
        <p class="text-lg leading-8">
            At Munamii Cakery, each cake, each box of cupcakes that we make has
            a very special value for us. We not only want to bring a dessert to
            your table but rather a unique experience for you, which will become
            an unforgettable memory. We have been in the pastry market for more
            than 8 years and now we offer you a new way to shop through our
            website.
        </p>
    </div>
    <div class="w-250">
        <img src="/public/pastry-chef.jpg" alt="" class="rounded-4xl">
    </div>
</main>
