<footer>
    <a href="https://www.instagram.com/munamii.cakery/">Instagram</a>
    <a href="https://www.facebook.com/munamiicupcakes/">Facebook</a>
    <a href="mailto:sample@email.com">sample@email.com</a>
</footer>