<footer class="flex justify-between bg-stone-900 text-stone-300 p-24">
	<section class="flex flex-col gap-6">
		<h2 class="text-5xl font-thin">Sitemap</h2>
		<nav class="flex flex-col">
			<a class="text-2xl p-1 hover:text-stone-400 motion-safe:transition-colors" href="/">Home</a>
			<a class="text-2xl p-1 hover:text-stone-400 motion-safe:transition-colors" href="/">About</a>
			<a class="text-2xl p-1 hover:text-stone-400 motion-safe:transition-colors" href="/">Products</a>
			<a class="text-2xl p-1 hover:text-stone-400 motion-safe:transition-colors" href="/">Contact</a>
		</nav>
	</section>
	<section class="flex flex-col gap-6">
		<h2 class="text-5xl font-thin">Follow Us</h2>
		<div class="flex gap-6">
			<a
				class="flex items-center justify-center w-12 h-12 outline-2 rounded-full hover:bg-stone-700 motion-safe:transition-colors"
				href="https://www.instagram.com/munamii.cakery/"
			>
				<span class="sr-only">
					Instagram
				</span>
				<svg
					xmlns="http://www.w3.org/2000/svg"
					width="24"
					height="24"
					viewBox="0 0 24 24"
					fill="none"
					stroke="#ccc"
					stroke-width="2"
					stroke-linecap="round"
					stroke-linejoin="round"
				>
					<rect width="20" height="20" x="2" y="2" rx="5" ry="5"
					></rect>
					<path d="M16 11.37A4 4 0 1 1 12.63 8 4 4 0 0 1 16 11.37z"
					></path>
					<line x1="17.5" x2="17.51" y1="6.5" y2="6.5"></line>
				</svg>
			</a>
			<a
				class="flex items-center justify-center w-12 h-12 pe-0.5 outline-2 rounded-full hover:bg-stone-700 motion-safe:transition-colors"
				href="https://www.facebook.com/munamiicupcakes/"
			>
				<span class="sr-only">
					Facebook
				</span>
				<svg
					xmlns="http://www.w3.org/2000/svg"
					width="24"
					height="24"
					viewBox="0 0 24 24"
					fill="none"
					stroke="#ccc"
					stroke-width="2"
					stroke-linecap="round"
					stroke-linejoin="round"
				>
					<path
						d="M18 2h-3a5 5 0 0 0-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 0 1 1-1h3z"
					></path>
				</svg>
			</a>
			<a
				class="flex items-center justify-center w-12 h-12 outline-2 rounded-full hover:bg-stone-700 motion-safe:transition-colors"
				href="mailto:sample@email.com"
			>
				<span class="sr-only">
					sample@email.com
				</span>
				<svg
					xmlns="http://www.w3.org/2000/svg"
					width="24"
					height="24"
					viewBox="0 0 24 24"
					fill="none"
					stroke="#ccc"
					stroke-width="2"
					stroke-linecap="round"
					stroke-linejoin="round"
				>
					<rect width="20" height="16" x="2" y="4" rx="2"></rect>
					<path d="m22 7-8.97 5.7a1.94 1.94 0 0 1-2.06 0L2 7"></path>
				</svg>
			</a>
		</div>
	</section>
</footer>
