---
import { cn } from "../../util/cn"
const { classes, url } = Astro.props
---

<a class={cn("text-sm xl:text-base p-1 hover:text-stone-400 motion-safe:transition-colors", classes)} href={url}>
    <slot />
</a>