---
import { cn } from "../../util/cn";
const { description, url, classes } = Astro.props;
---

<a
    class={cn(
        "text-sm xl:text-base flex items-center justify-center outline-2 rounded-full hover:bg-stone-700 motion-safe:transition-colors h-10 w-10",
        classes,
    )}
    href={url}
>
    <span class="sr-only">{description}</span>
    <slot />
</a>
