---
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/png" href="/favicon.png" />
		<meta name="generator" content={Astro.generator} />
		<title>Munamii Cakery</title>
		<meta
			name="description"
			content="Make Munamii Cakery your one-stop shop for delicious cakes, pastries and other baked goods!"
		/>
	</head>
	<body class="flex flex-col min-h-screen font-[Quicksand_Variable,sans-serif]">
		<slot />
	</body>
</html>
